<ion-header>
  <ion-toolbar>
    <ion-title>
      user registration app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="OnLogin();">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="Onregister();">Register</ion-button>
        </ion-col>
      </ion-row>
  
  <!-- <button type="button"  (click)="OnLogin();">
    
     Add</button>     -->

</ion-content>
