<!--
  Generated template for the SortItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>sortItems</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
    
    <!-- <ion-item>
        <ion-label>{{question.optionA}}</ion-label>
        <ion-radio  value="1" (ionSelect)="mcqAnswer(i,1)"></ion-radio>
      </ion-item> -->
    
      <ion-list>
          <ion-item *ngFor="let task of range">
            <ion-label>{{ task }}</ion-label>
            <ion-checkbox (ionChange)="checked($event, task)"></ion-checkbox>
          </ion-item>
        </ion-list>

        <button ion-button type="submit" expand="full" color="primary" (click)="onSubmit()">applynow</button>
        <!-- <div *ngFor="let items22 of newArray2">
          {{items22.name}}
          {{items22.price}}
        </div> -->
        
          <!-- <ion-radio-group name="sortfilter">
    <ion-list *ngFor="let data of range" let i="index">
        <ion-radio value="{{data}}" name="data"  (ionSelect)="radioGroupChange($event, 1)"></ion-radio>
      <i>{{data}}</i>
    </ion-list>
</ion-radio-group> -->

<!-- <h5>{{radioSelectedString}}</h5> -->

<!-- <p>you selected:<span>{{selectedItem}}</span></p>   -->
 </ion-content>
    
      <!-- <div *ngFor="let data of range">
        <ion-list radio-group name="fieldName">
        <ion-radio-group (ionChange)="radioGroupChange($event)">
  
            <ion-item>
            <ion-label>{{data}} </ion-label>
            
            <ion-radio value="data" [checked]="false/true"></ion-radio>
          </ion-item>
    
        </ion-radio-group>
    </ion-list>  </div>  -->

  <!-- <p>you selected:<span>{{selectedItem}}</span></p> 
    
  <button ion-button (click)=onNext()>applynow</button>  -->
  <!-- <ion-card>
    <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>sort Items</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>items from rs.10 to rs.30</ion-label>
            <ion-radio slot="start" ></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>items from rs.30 to rs.50</ion-label>
            <ion-radio slot="start"></ion-radio>
          </ion-item>
          <ion-item>
              <ion-label>items from rs.50 to rs.150</ion-label>
              <ion-radio slot="start"></ion-radio>
            </ion-item>
        
      
          
        </ion-radio-group>
        <button ion-button (click)="filterItem()">filterItem</button> -->
      
      <!-- <ion-list>
          <ion-item *ngFor="let entry of suprita">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="full"  (click)="show($event);"> showitems</ion-button>
          </ion-col>
        </ion-row>
    <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full"  (click)="senddetails();"> gonext </ion-button>
        </ion-col>
      </ion-row> -->
      
    <!-- </ion-card>  -->
    <!-- <ion-list
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Fruit</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Apple</ion-label>
            <ion-radio slot="start" color="success" value="apple"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Grape</ion-label>
            <ion-radio slot="start" color="tertiary" value="grape" checked></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Cherry</ion-label>
            <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
          </ion-item>
        </ion-radio-group>
        </ion-list> -->


<!-- </ion-content> -->