<ion-header>
  <ion-toolbar>
    <ion-title>task2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-button (click)="send();">clickme</ion-button>
    
  <!-- <p>{{name}}</p> -->
  <!-- <div *ngIf="value">
    {{value.yourObjectname}}
    </div> -->
    <a href="task3">task3</a>
</ion-content>

<ion-footer>

    <!-- <ion-button color="primary" expand="full" (click)="changeText()" >{{text}}</ion-button> -->
    <ion-button color="primary" expand=full>{{ status ? 'TRUE' : 'FALSE' }}</ion-button>
    <ion-button 
         type="button" 
         color="primary" 
         fill="clear" 
         expand="block"
         (click)="onSwitchMode()">
           Switch to {{ status ? 'FALSE' : 'TRUE' }}
         </ion-button>         
</ion-footer>
